.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box; /* padding으로인해 boxsize 변동을 막아줌 */
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    color: #2e363e;
    display: flex;
    position: relative;
    flex-direction: row;
}

@keyframes notificationAnimation {
    0% {
        transform: none;
    }
    50%{
        transform: translateY(-5px) rotateY(360deg);
    }
    100%{
        transform: none;
    }
}

.nav__notification {
    position: absolute;
    left: 30px;
    bottom: 25px;
    animation: notificationAnimation 2s ease-in-out infinite;
}

@keyframes appearBtnAnimation {
    from {
        
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.nav__btn {
    animation: appearBtnAnimation 1s ease-in-out forwards;
    transform: translateY(50px);
    opacity: 0;
}
.nav__btn:nth-child(2) {
    animation-delay: 0.5s;
}
.nav__btn:nth-child(3) {
    animation-delay: 1s;
}
.nav__btn:last-child {
    animation-delay: 1.5s;
}
/* .nav__link {
    color: inherit;
    text-decoration: none;
} */
 /* 어떤 링크도 밑줄이 없고 색상이 검정인걸 원한다면 reset.css에 입력 */