.screen-header {
    padding: var(--horizontal--space);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 50px;
}
.screen-header__title {
    font-size: 40px;
    font-weight: bold;
}
.screen-header__icons {
    display: flex;
    position: relative;
}
.screen-header__icons span {
    margin-left: 25px;
}

@keyframes rotateGear {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-gear:hover {
    animation: rotateGear 1s linear infinite;
}